allow init tmpfs:lnk_file create_file_perms;
allow init self:socket { read bind create write ioctl };
allow init socket_device:sock_file { create write setattr unlink };
allow init root_block_device:blk_file write;
allow init qmuxd:unix_stream_socket connectto;
allow init qmuxd_socket:sock_file write;
allow init kcal_sysfs:file getattr;
