allow system_server vibeamp_sysfs:file rw_file_perms;
allow system_server kcal_sysfs:file rw_file_perms;
allow system_server sensord_data_file:dir { search write };
allow system_server sensord_data_file:dir { getattr setattr };
allow system_server sensord_data_file:fifo_file rw_file_perms;
allow system_server led_deamon_data_file:fifo_file rw_file_perms;
